@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: crimson;
}

nav li {
    border-bottom: 1px solid coral;
}

nav li a {
    margin-left: 25%;
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 16px 8px;
    text-decoration: none;
}

nav li a i {
    margin-right: 10px;
}

nav li:hover {
    background-color: blueviolet;
}